.workoutCard {
	margin: 5px;
	border: 1px solid var(--primary);
	border-radius: 10px;
	width: 302px;
	float: left;
}

.workoutCard:hover {
	opacity: 0.7;
	cursor: pointer;
}

.workoutCardContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.workoutImage {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: 0.3s;
	width: 300px;
	height: 200px;
	margin: 2px;
}

.workoutCardDesc {
	color: white;
	background-color: var(--primary);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}